.bg-page {
    min-height: calc(100vh - 86px);
    min-width: 98vw;
    background-color: rgb(233, 233, 233);
}

.grid-form {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 20px;
}

/* cadastra-se*/
s .text-titulo {
    color: rgb(61, 61, 61);
    font-family: 'Calibri' !important;
    font-size: 60px!important;
    text-align: left !important;
    margin-left: 50px !important;
    padding-bottom: 20px;
    font-weight: bold!important;
}

.select {
    padding: 10px !important;
}

/* selecionar */
.text-form {
    padding-top: -10px !important;
    color: rgb(61, 61, 61) !important;
    font-size: 13px !important;
}

.text-form-foot {
    padding-top: 5px !important;
    color: rgb(61, 61, 61) !important;
    font-size: 12px !important;
}

.formulario .MuiOutlinedInput-root {
    border-radius: 14px !important;
}

.botao {
    height: 50px;
    width: 100%;
    background-color: rgb(230, 107, 7) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 'bold' !important;
    border-radius: 55px !important;
}

.link-botao {
    color: rgb(255, 255, 255);
}

.login-text {
    padding-top: 15px;
    color: #363636;
    font-family: "Calibri";
    font-size: 17px !important;
}

.login-link {
    padding-top: 12px;
    color: rgb(230, 107, 7);
    font-family: "Calibri";
    font-weight: bold !important;
    margin-left: 12px !important;
    font-size: 22px !important;
}