.bg-color {
    background-color: rgb(234, 237, 240);
    display: flex !important;
}

.form-login{
    background-color:  #fffefead;
    border-radius: 15px !important;
}

.login-top {
    max-width: 30vw;
    min-height: 50vh !important;
    max-height: 70vh !important;
    margin: 0 auto;
    padding: 50px;
}

/* email e senha*/
.texto0 {
    color: rgb(61, 61, 61);
    font-size: 14px !important;
    font-weight: bold !important;
    margin: 0 0 0 60px !important;
}


.bordas {
    margin: 0 auto !important;
    border-radius: 100px !important;
}

/* Bem vindo */
.texto1 {
    color: rgb(61, 61, 61);
    font-family: 'Calibri' !important;
    font-size: 40px !important;
    text-align: left !important;
    margin-left: 50px !important;
    padding-bottom: 20px;
    font-weight: unset !important;

    font-weight: bold !important;
}

/* entrar */
.texto2 {
    color: rgb(230, 107, 7);
    font-weight: 'bolder' !important;
    font-size: 15px !important;
    text-align: left;
    padding-bottom: 10px;
}

/* entrar */
.chamada1 {
    font-size: 16px !important;
    color: #363636;
}

.chamada2 {
    color: rgb(230, 107, 7);
    font-weight: bold !important;
    margin-left: 12px !important;
    font-size: 17px !important;
}


.buttom {
    height: 50px;
    width: 400px !important;
    background-color: rgb(230, 107, 7) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 'bold' !important;
    border-radius: 55px !important;
    border: none !important;
    text-transform: Capitalize !important;
}




.imagem {
    background-image: url('https://i.imgur.com/QX8qukt.png');
    background-repeat: no-repeat;
    width: 100vw!important;
    height: 100vh!important;
    background-position: center!important;
    background-size: cover;
}



.input-form .MuiOutlinedInput-root {
    border-radius: 14px !important;
}

.hr {
    max-width: 25vw !important;
}

.redes {
    font-size: 25px !important;
    margin-left: 80px;
    color: #363636;
    
}

.google {
    font-family: Calibri !important;
    justify-content: center !important;
    margin-top: 8px !important;
    padding-left: 10px;
    font-size: 19px !important;
    margin-left: 10px !important;

}


.fundo {
    background-color: #dacfcf81;
    border-radius: 15px;
    margin-top: 8px !important;
    display: flex;
}

.centralizar{
    display: flex;
    justify-content: center !important;
}

.google-itens{
    display: flex;
    align-items: center;
    justify-content: right !important;
}
