.bg-color {
    background-color: rgb(234, 237, 240);
    min-height: calc(100vh - 86px);

}

.login-top {
    padding: 60px;
}

/* email e senha*/
.texto0 {
    color: rgb(61, 61, 61);
    font-size: 12px !important;
    font-weight: bold !important;
    margin: 0 auto !important;
    margin-left: 60px !important;
}


.bordas {
    margin: 0 auto !important;
    border-radius: 100px !important;
}

/* Bem vindo */
.texto1 {
    color: rgb(61, 61, 61);
    font-family: 'Calibri' !important;
    font-size: 40px !important;
    text-align: left !important;
    margin-left: 50px !important;
    padding-bottom: 20px;
    font-weight: unset !important;

    font-weight: bold !important;
}

/* entrar */
.texto2 {
    color: rgb(230, 107, 7);
    font-weight: 'bolder' !important;
    font-size: 15px !important;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 59px !important;
}

/* entrar */
.chamada1 {
    font-size: 16px !important;
    margin-left: 120px !important;
    color: #363636;
}

.chamada2 {
    color: rgb(230, 107, 7);
    font-weight: bold !important;
    margin-left: 12px !important;
    font-size: 17px !important;
}


.buttom {
    height: 50px;
    width: 64vh !important;
    background-color: rgb(230, 107, 7) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 'bold' !important;
    border-radius: 55px !important;
    border: none !important;
    text-transform: Capitalize !important;
}




.imagem {
    background-image: url('../img/5.png');
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    background-size: unset;
    background-position: center;
}



.input-form .MuiOutlinedInput-root {
    border-radius: 14px !important;
    width: 400px !important;
    margin-left: 55px !important;
}

.hr {
    padding: 10px !important;
}

.redes {
    font-size: 25px !important;
    margin-left: 80px;
    color: #363636;
    
}

.google {
    font-family: Calibri !important;
    justify-content: center !important;
    margin-top: 8px !important;
    padding-left: 10px;
    font-size: 19px !important;

}


.fundo {
    background-color: #dacfcf81;
    border-radius: 15px;
    box-sizing: border-box !important;
    height: 50px !important;
    width: 60vh !important;
    margin-left: 80px !important;
    margin-top: 8px !important;
}