/*cor de fundo*/
.color {
   background: rgb(230, 107, 7) !important;
   height: 60px !important;
   box-shadow: none !important;
}

/*direcionamento da navbar*/
.container{
   display: flex;
   justify-content: space-evenly;
}

.dis-flex-row{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-right: 2vw;
}

.no-style-link{
   text-decoration: none !important;
}

.cursor{
   cursor: pointer;
}

/*conteudo da navbar*/ 
.conteudoNav {
   color: rgb(255, 255, 255);
   margin-right: 30px !important;
}

.conteudoNav:hover {
   color: #000 !important;
   border-bottom: 3px solid #000 ;
}

.texto-navbar{
   font-family: Calibri !important;
   font-size: 22px !important;
}

/*icones*/
.icones {
   margin-right: 5px !important;
}

/* barra de pesquisa */
.pesquisa {
   margin-top: 5px !important;
   color: rgba(0, 0, 0, 0.712) !important;
}

.barraPesquisa {
   display: flex;
   flex-direction: row-reverse;
   justify-content: end !important;
   border-radius: 10px;
   background-color: rgb(227, 133, 56);
   padding: 7px !important;
   width: 15rem !important;
}

.barraPesquisa:hover{
   background-color: rgb(220, 148, 90);
}

.pesquisa{
   height: 100%;  
   display: flex;
   align-items: center;
   justify-content: center;
}

.icone-pesquisa{
   display: flex;
   justify-content: end;
}


/* logo branco donare */
.imagemlogo {
   margin-top: 4px;
}