.color {
   background: rgb(230, 107, 7) !important;
   height: 60px !important;
   border: none !important;
   box-shadow: none !important;

}


/* texto das categorias junto com os */

.TextoNav {
   color: rgb(255, 255, 255);
   margin-left: 50px !important;
   margin-top: -35px !important;
   font-family: Calibri !important;
   text-decoration: none !important;
   display: flex !important;
   flex-direction: row !important;
   justify-content: center !important;
}

.icones {
   margin: 10px !important;
   color: beige!important;
   display: grid !important;
   justify-content: center !important;
}


/* cursos */
.TextoNav:hover {
   color: rgba(0, 0, 0, 0.712) !important;
   border-bottom: 6px solid rgba(0, 0, 0, 0.712) !important;
}





.decorator-text-none {
   text-decoration: none;
}






/* barra de pesquisa */
.pesquisa {
   margin-top: 5px !important;
   color: rgba(0, 0, 0, 0.712) !important;
}

.barraPesquisa {
   background-color: #ffffffd3;
   border-radius: 10px;
   box-sizing: border-box !important;
   height: 40px !important;
   width: 35vh !important;
   margin-left: 80px !important;

}

.barraPesquisa,
.pesquisa {
   margin-right: 60px !important;
   padding: 10px !important;

}


/* logo branco donare */
.imagemlogo {
   margin: 0 auto !important;
   margin-top: -27px !important;

}