.imagem-perfil{
    background-color: gray !important;
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.perfil-content{
    display: flex;
    flex-direction: row;
    min-height:50vh;
    margin-top: 30px;
}

.perfil-dados{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    width: 50% !important;
}

.perfil-campos{
    padding:20px 0 !important;
}

.bold-text{
    color: #000 !important;
    font-weight: bold !important;
}

.trofeu{
    width: 40px !important;
    height: 40px !important;
    color: #ffd700;
}