/*corpo*/
.bg-color {
  background-color: #dacfcf81;
}

.padding-top-bot {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-left{
  padding-left: 16px;
}

.non-padding {
  padding: 0 !important;
}

.margin-right-2 {
  margin-right: 10px !important;
}

.negrito{
  font-weight: bold !important;
}

a{
  text-decoration: none;
  color: black;
}

/*Card esquerda*/
.card {
  min-width: 30vh !important;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid orange !important; 
}

.box {
  display: flex;
  justify-content: flex-end;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.icons {
  width: 75px !important;
  height: 75px !important;
}

/*Card direita*/
.card2 {
  min-width: 30vh !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  border: 2px solid orange !important; 
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: start;
}

ul li {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 10px;
}

.titulo {
  font-weight: bold !important;
  font-size: 1.3rem !important;
  text-align: center;
  color:#ff7d10 !important;
}

.clickable{
  text-decoration: none !important;
  color: black;
}

.clickable:hover{
  background-color: #dacfcf81 !important;
}

.altura {
  margin-top: 10px;
  min-height: calc(100vh - 86px);
  background-color: red;
}
