.rodape{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(230, 107, 7);
  min-height: 26px;
}

.non-decor{
  text-decoration: none;
}

.text-footer{
color: #fff; 
}

.text-footer:hover{
  cursor: pointer;
  color: #000;
}