.rodape {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;

}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(230, 107, 7) !important;
  height: 24px !important;
}

.content2 {
  display: inline-flex;
  background-color: rgba(255, 115, 0, 0.849);
  min-height: 8px !important;
  width: 100%;
}



.non-decor {
  text-decoration: none;
}


.text-footer{
  color: #fff;
  display: flex;
  justify-content: space-around !important ;
  font-family: 'Calibri' !important;
  padding: -8px !important;
  display: inline-flex !important;
  font-weight: bold !important;
}

.text-footer2 {
  color: #000;
  text-align: center !important;
  font-family: 'Calibri' !important;
}

.text-footer:hover {
  cursor: pointer;
  color: #000;
}