.tamanho {
    display: flex;
    justify-content: center;
    margin: 10px auto !important;
}

.text-align {
    text-align: center;
    margin: 50px auto;
    letter-spacing: 1px;
    color: black !important;
    text-align: justify;

}

.subtitle1{
    text-align: center;
}

.imagem-ODS {
    margin-top: 50px !important;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.buttonAdd {
    display: flex ;
    justify-content: end;
    position: sticky !important;
    bottom: 60px;
    left: 90vw;
    z-index: 9999;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

.card-temas{
    max-width: 400px !important;
}